[submodule "lib/config"]
	path = lib/config
	url = https://github.com/boostorg/config.git
[submodule "lib/multiprecision"]
	path = lib/multiprecision
	url = https://github.com/boostorg/multiprecision.git
